
.menu{
    background-color: #a7a5a5;
    color: black; 
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-start; */
           
}

.menu li{   
    display: inline-flex; 
    
    
}

.menu ol{
    
}